.version.index /* version checker */
{
	color: #0000F0;
	background-color: #E224E4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1811.6000000000001px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -49px;
}

#pu74
{
	width: 0.01px;
	padding-bottom: 98px;
	margin-left: -100px;
}

#u74
{
	z-index: 37;
	height: 97px;
	top: 0px;
}

#u74-bw
{
	z-index: 37;
}

#u81
{
	z-index: 38;
	width: 76px;
	top: 11px;
	left: 62px;
}

#u189-4
{
	z-index: 120;
	top: 24px;
	left: 155px;
}

#u87-4
{
	z-index: 40;
	width: 119px;
	min-height: 36px;
	top: 38px;
	right: 428px;
}

#u88-4
{
	z-index: 44;
	width: 119px;
	min-height: 36px;
	top: 38px;
	right: 309px;
}

#u144-4
{
	z-index: 48;
	width: 119px;
	min-height: 36px;
	top: 38px;
	right: 190px;
}

#u145-4
{
	z-index: 52;
	width: 119px;
	min-height: 36px;
	top: 38px;
	right: 71px;
}

#ppinicio
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -98px;
}

#pinicio
{
	width: 0.01px;
	margin-right: -10000px;
}

#napo
{
	margin-top: 446px;
}

#u110
{
	z-index: 2;
	width: 600px;
	margin-right: -10000px;
	left: 73px;
}

#u108-4
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 151px;
	left: 623px;
}

#u117-4
{
	z-index: 8;
	width: 336px;
	min-height: 181px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 623px;
}

#u123
{
	z-index: 12;
	width: 145px;
	margin-right: -10000px;
	margin-top: 374px;
	left: 915px;
}

#u129
{
	z-index: 14;
	width: 145px;
	margin-right: -10000px;
	margin-top: 374px;
	left: 602px;
}

#u134
{
	z-index: 16;
	width: 142px;
	margin-right: -10000px;
	margin-top: 374px;
	left: 757px;
}

#u134_img
{
	padding-right: 1px;
}

#u146-4
{
	z-index: 18;
	margin-right: -10000px;
	margin-top: 564px;
	left: 327px;
}

#pu148
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 60px;
}

#u148
{
	z-index: 26;
	width: 297px;
	margin-right: -10000px;
}

#u148_img
{
	padding-bottom: 1px;
}

#u147-4
{
	z-index: 22;
	width: 369px;
	min-height: 181px;
	margin-right: -10000px;
	margin-top: 123px;
	left: 395px;
}

#contactos
{
	left: -100px;
	margin-top: 30px;
}

#u154-4
{
	z-index: 28;
	margin-left: 234px;
	margin-top: 37px;
}

#u179-4
{
	z-index: 32;
	width: 369px;
	min-height: 62px;
	margin-left: 321px;
	margin-top: 24px;
}

#widgetu160
{
	z-index: 56;
	width: 0.01px;
	height: 266px;
	margin-left: 335px;
	margin-top: 29px;
}

#widgetu167
{
	z-index: 57;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu167.fld-err-st
{
	margin: 0px -10000px 0px 0px;
}

#u168-4
{
	z-index: 58;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u169-4
{
	z-index: 62;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu167:hover #u169-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu167.focus-st #u169-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu171
{
	z-index: 66;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu171.fld-err-st
{
	margin: 60px -10000px 0px 0px;
}

#u173-4
{
	z-index: 67;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u174-4
{
	z-index: 71;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu167.fld-err-st #u169-4,#widgetu171:hover #u174-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu171.focus-st #u174-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu171.fld-err-st #u174-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu167_input,#widgetu167_prompt,#widgetu171_input,#widgetu171_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#u175-4
{
	z-index: 75;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u165-4
{
	z-index: 79;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u176-4
{
	z-index: 83;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu160.frm-sub-st #u175-4,#widgetu160.frm-subm-err-st #u165-4,#widgetu160.frm-subm-ok-st #u176-4
{
	min-height: 25px;
}

#u166-17
{
	z-index: 87;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 235px;
}

#widgetu161
{
	z-index: 104;
	width: 340px;
	height: 100px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu161.fld-err-st
{
	margin: 120px -10000px 0px 0px;
}

#u164-4
{
	z-index: 105;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#widgetu167.fld-err-st #u168-4,#widgetu171.fld-err-st #u173-4,#widgetu161.fld-err-st #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u162-4
{
	z-index: 109;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu161:hover #u162-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu161.focus-st #u162-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu161.fld-err-st #u162-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu161_input,#widgetu161_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu167:hover #widgetu167_input,#widgetu167.focus-st #widgetu167_input,#widgetu167.fld-err-st #widgetu167_input,#widgetu167:hover #widgetu167_prompt,#widgetu167.focus-st #widgetu167_prompt,#widgetu167.fld-err-st #widgetu167_prompt,#widgetu171:hover #widgetu171_input,#widgetu171.focus-st #widgetu171_input,#widgetu171.fld-err-st #widgetu171_input,#widgetu171:hover #widgetu171_prompt,#widgetu171.focus-st #widgetu171_prompt,#widgetu171.fld-err-st #widgetu171_prompt,#widgetu161:hover #widgetu161_input,#widgetu161.focus-st #widgetu161_input,#widgetu161.fld-err-st #widgetu161_input,#widgetu161:hover #widgetu161_prompt,#widgetu161.focus-st #widgetu161_prompt,#widgetu161.fld-err-st #widgetu161_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u181
{
	z-index: 113;
	padding-bottom: 18px;
}

#u181_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u182-4
{
	z-index: 114;
	width: 418px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 371px;
}

#u181-bw
{
	z-index: 113;
	margin-top: 113px;
	height: 31px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

